
.checkbox-container{
    display: flex;
    flex-direction: column ;
    align-items: center;


}

.radio-container{
display: flex;
flex-direction: column;
padding: 1px;
margin: 1px;
}

.data-pizza{
    display: flex;
    flex-direction: row;
    width: 10%;

}

div img{
    align-items: center;
}

.pizza-list{
    align-items: baseline;
}

.totalprice{
    align-items: center;
    display: flex;
}